{% extends 'layout.twig' %}

{% block head %}
<title> oui </title>
{% endblock %}
{% block content %}

    <h1> les der tuto</h1>
    <div class="row"
    {% for tutoriel in tutoriels %}
   <div class=col-xs">
        <div class="card">
            <img src="1{{ tutoriel.id }}.jpg" alt="" class="card-img-top">
        </div>
        <li>{{ tutoriel.name }}</li>
   </div>
        </div>
    {% endfor %}



{% endblock %}